<app-header
  [viewMode]="viewMode"
  [mesAtual]="mesAtual"
  [anoAtual]="anoAtual"
  (changeView)="mudarVisao($event)"
  (previous)="viewMode === 'semana' ? goToPreviousWeek() : goToPreviousMonth()"
  (current)="viewMode === 'semana' ? goToCurrentWeek() : goToCurrentMonth()"
  (next)="viewMode === 'semana' ? goToNextWeek() : goToNextMonth()"
>
</app-header>
<ng-container *ngIf="viewMode === 'semana'">
  <app-week-view
    #semanaComponent
    [events]="eventos"

  >
  </app-week-view>
</ng-container>

<!-- [mesAtual]="mesAtual"
    [anoAtual]="anoAtual"
    [desabilitarAdicionarEvento]="desabilitarAdicionarEvento"
    [desabilitarIrParaProximoMes]="desabilitarIrParaProximoMes"
    [desabilitarIrParaMesAnterior]="desabilitarIrParaMesAnterior" -->
<ng-container *ngIf="viewMode === 'mes'">
  <app-visualizacao-mensal
    #mesComponent
    [eventos]="eventos"
    [dataInicial]="periodoMarcadoParaEventos?.dataInicial"
    [desabilitarAdicionarEvento]="desabilitarAdicionarEvento"
    [desabilitarIrParaProximoMes]="desabilitarIrParaProximoMes"
    [desabilitarIrParaMesAnterior]="desabilitarIrParaMesAnterior"
    [acoesEvento]="acoesEvento"
    [periodoMarcadoParaEventos]="periodoMarcadoParaEventos"
    (cliqueAdicionarEvento)="cliqueAdicionarEvento.next($event)"
    (cliqueVisualizarEvento)="cliqueVisualizarEvento.next($event)"
    (mesMudou)="atualizarMes($event)"
  ></app-visualizacao-mensal>
</ng-container>

<!--
[mesAtual]="mesAtual"
[anoAtual]="anoAtual" -->
